<div class="bg-indigo-900 relative overflow-hidden h-full">
    <img src="https://www.tailwind-kit.com/images/landscape/5.svg" class="absolute h-full w-full object-cover" />
    <div class="inset-0 bg-black opacity-25 absolute">
    </div>
    <div class="container mx-auto px-6 md:px-12 relative z-10 flex items-center py-32 xl:py-56">
        <div class="flex flex-col items-start relative z-10">
            <span class="font-bold uppercase text-yellow-400">
                @bmassioui
            </span>
            <h4 class="font-bold text-2xl sm:text-6xl text-white leading-tight mt-4">
                Welcome 👋
                <br />
                User Management system
            </h4>
            <div class="flex space-x-2">
                <div class="flex flex-col flex-0">
                    <a [routerLink]="['/signIn']"
                        class="bg-white hover:bg-gray-100 py-2 px-6 rounded-lg text-lg text-gray-800 font-bold uppercase mt-10">
                        Sign In
                    </a>
                </div>
                <div class="flex flex-col flex-1">
                    <a [routerLink]="['/signUp']"
                        class="bg-white hover:bg-gray-100 py-2 px-6 rounded-lg text-lg text-gray-800 font-bold uppercase mt-10">
                        Sign Up
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>